<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ postagem.classe }}</title>
</head>
<body>
    <h1>{{ postagem.classe }}</h1>
    <br>
    <p>{{ postagem.valor }}</p>
    <p>{{ postagem.destinatário }}</p>
    <p> {{ postagem.email }}</p>
    <p> {{postagem.comentario}}</p>
  
    <br><br><form action="{% url 'update' postagem.id %}"><input type="submit" value="Update" /></form>
    <br><form action="{% url 'home' %}"><input type="submit" value="Back" /></form>
</body>
</html>
